/* MenuEveryDay.css */
/* .menu-every-day-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.week-offer {
  color:#ffcc4d;
  text-shadow:
    -1px -1px 0 #515151,
    1px -1px 0 #515151,
    -1px 1px 0 #515151,
    1px 1px 0 #515151;
}

.every-day-food-row {
  display: flex;
  flex-direction: row;
  width: 600px;
  color: #353535;
  font-size: 16px;
}

.menu-every-day-food-name{
  flex: 1;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.menu-every-day-food-price {  
  margin-left: 24px;
  font-weight: bold;
} */