/* MenuInfo.css */

.menu-info-container {
    /* margin-top: 24px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }


 .menu-info-date{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #353535;
    margin: 24px;
 }

.menu-info-text{
    font-size: 16px;
    text-align: center;
    color: #616161;
    margin: 8px;
}